<%= form_with model: @client, class: "form-group row" do |form| %>
  <div class="my-1">
    <%= form.text_field :name, name: "client[name]", class: "form-control", placeholder: "Add a new client" %>
  </div>
  <div class="my-1">
    <%= form.select :city_id, City.all.map { |c| [c.name, c.city_id] }, {}, { class: "form-control" } %>
  </div>
  <div class="my-1 d-flex justify-content-end">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>