<div class="my-5 d-flex justify-content-center">
  <div class="px-3 py-4 bg-dark border rounded-3">
    <h2 class="text-center text-primary">Edit client</h2>
      
    <%= render 'form' %>

    <%= render 'alerts' %>
  </div>
</div>
  