<div style="height: 60vh;">
<table class="table">
  <thead>
    <tr>
      <th>Client ID</th>
      <th>Name</th>
      <th>City</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.client_id %></td>
        <td><%= client.name %></td>
        <td><%= client.city.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>