<%= form_with model: @city, class: "form-group row" do |form| %>
  <div class="col-sm-8">
    <%= form.text_field :name, name: "city[name]", class: "form-control", placeholder: "Add a new city" %>
  </div>
  <div class="col-sm-2">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>